#instructions {
  z-index: 1;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border: 5px solid grey;
  background-image: url("img/skyy.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveBackground 60s linear infinite;
}
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -1000px;
  }
}

#instructions h2 {
  font-family: Passion One;
  font-size: 150px;
  text-align: center;
  color: white;
  text-shadow: -5px -5px 1px black, -5px -1px 0 black, -1px 3px 5px black,
    1px 1px 3px black;
}

#instructions p {
  text-align: center;
  font-size: 60px;
  font-family: Passion One;
  color: white;
  text-shadow: -5px -5px 1px black, -5px -1px 0 black, -1px 3px 5px black,
    1px 1px 3px black;
}

#instructions img {
  float: right;
  margin-left: 20px;
  height: 1000px;
  z-index: 2;
  top: 0%;
}
#back-btn {
  position: absolute;
  bottom: 20%;
  left: 0%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

#back-btn img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
